---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=1715%20I%20st,%20Sacramento,%20CA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"1715\",\n               \"short_name\"
        : \"1715\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"I Street\",\n               \"short_name\"
        : \"I St\",\n               \"types\" : [ \"route\" ]\n            },\n            {\n
        \              \"long_name\" : \"Central Sacramento\",\n               \"short_name\"
        : \"Central Sacramento\",\n               \"types\" : [ \"neighborhood\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBb-c6luucnupLoXKbttAdF57ncuIgRBZs&keyword=restaurant&location=38.579016,-121.482753&radius=1&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [\n      {\n
        \        \"geometry\" : {\n            \"location\" : {\n               \"lat\"
        : 38.5786940,\n               \"lng\" : -121.4824450\n            }\n         },\n
        \        \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"d936f7d8fe79c094c47635a811458074be78856e\",\n         \"name\"
        : \"Michelangelo's Restaurant\",\n         \"opening_hours\" : {\n            \"open_now\"
        : true\n         },\n         \"price_level\" : 2,\n         \"rating\" :
        4.0,\n         \"reference\" : \"CoQBdwAAAHEn3NrOd-L3m1oLiuYP3NNQhsA2bjFWpy6RNp5pXPlqqT_4jf6zYQDK8V0AoHlTA46epMmsZjjGbYcZlLemfk_Cmimsh0KTQWaH6wzQNQID76cf-pJwcVav_1FY2khNeeeG7u4kZ7zg6aap-jERAvD0Bq6i-dv2VCK20UQgeDAZEhD5oJnSL5an0Yqj3zPWQcQ4GhShY6V__7naHXcDVX7Ae0Eg98nqOA\",\n
        \        \"types\" : [ \"restaurant\", \"food\", \"establishment\" ],\n         \"vicinity\"
        : \"1725 I Street, Sacramento\"\n      },\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : 38.5780330,\n
        \              \"lng\" : -121.48450\n            }\n         },\n         \"icon\"
        : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"9ac2eab73427294f194df6ea934c3b1476e0841d\",\n         \"name\"
        : \"Lucca Restaurant & Bar\",\n         \"opening_hours\" : {\n        [...]
