---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBb-c6luucnupLoXKbttAdF57ncuIgRBZs&keyword=restaurant&location=38.578836,-121.48343&radius=1&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [\n      {\n
        \        \"geometry\" : {\n            \"location\" : {\n               \"lat\"
        : 38.5780330,\n               \"lng\" : -121.48450\n            }\n         },\n
        \        \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"9ac2eab73427294f194df6ea934c3b1476e0841d\",\n         \"name\"
        : \"Lucca Restaurant & Bar\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"price_level\" : 2,\n         \"rating\" :
        4.10,\n         \"reference\" : \"CoQBdQAAAKYkBke0VrsdVOXmCnKp4wy5SqKxrhuQVyWS_cturTd708tsiLT1ASuXMJZ6Ne_4RL7oF9lVQDEzHfoqT84UkW30vLTz0Ird29LdVBlRMuB92wkLIW1zeP2BJ_7mNmIBJXw0yiTQQzsgwBMuflqHOEJ_EbH5X0BytKCN8O6WZ2MtEhBK1Kg0J7OXn4GHJV4nhUK0GhRvCF5KXQTzVhv0xcaUdQetM1zFkg\",\n
        \        \"types\" : [ \"restaurant\", \"food\", \"establishment\" ],\n         \"vicinity\"
        : \"1615 J Street, Sacramento\"\n      },\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : 38.5786940,\n
        \              \"lng\" : -121.4824450\n            }\n         },\n         \"icon\"
        : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"d936f7d8fe79c094c47635a811458074be78856e\",\n         \"name\"
        : \"Michelangelo's Restaurant\",\n         \"opening_hours\" : {\n   [...]
